@model AvailabilityModel
@{
    ViewData["Title"] = "AddAvailability";
}
<div class="text-center">
    <form asp-controller="Employee" asp-action="UpdateAvailability" method="post">
        <input type="hidden" asp-for="Id" name="id" value="@Model.Id">
        <h1>Wekelijkse beschikbaarheid</h1>
        <h5>Maandag</h5>
        <input type="date" asp-for="StartMonday" name="startmonday">
        <input type="date" asp-for="EndMonday" name="endmonday">
        <h5>Dinsdag</h5>
        <input type="date" asp-for="StartTuesday" name="starttuesday">
        <input type="date" asp-for="EndTuesday" name="endtuesday">
        <h5>Woensdag</h5>
        <input type="date" asp-for="StartWednesday" name="startwednesday">
        <input type="date" asp-for="EndWednesday" name="endwednesday">
        <h5>Donderdag</h5>
        <input type="date" asp-for="StartThursday" name="startthursday">
        <input type="date" asp-for="EndThursday" name="endthursday">
        <h5>Vrijdag</h5>
        <input type="date" asp-for="StartFriday" name="startfriday">
        <input type="date" asp-for="EndFriday" name="endfriday">
        <h5>Zaterdag</h5>
        <input type="date" asp-for="StartSaturday" name="startsaturday">
        <input type="date" asp-for="EndSaturday" name="endsaturday">
        <h5>Zondag</h5>
        <input type="date" asp-for="StartSunday" name="startsunday">
        <input type="date" asp-for="EndSunday" name="endsunday">
        <button class="btn btn-primary" id="button">Save</button>
    </form>
</div>

