
@{
    ViewData["Title"] = "ScheduleHome";
}

<div class="text-center">
    <h1>Create Schedule</h1>
    <h5>Start date</h5>
    <h5>End date</h5>
    
    <form asp-controller="Schedule" asp-action="CreateSchedule" method="post">
        <input type="date" name="startdate" />
        <input type="date" name="enddate" />
        <button class="btn btn-primary">CreateSchedule</button>
    </form>
    
</div>